.expenseView-component {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expenseView {
    width: 50%;
    height: 70%;
    padding: 10px 30px;
}

.income,
.expense {
    width: 100%;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #e2ebf3;
    margin: 6px 0;
}


/* form */

.form-container {
    width: 40%;
    height: 310px;
    position: absolute;
    background: rgb(255, 255, 255);
    top: 100px;
    right: 27%;
    flex-direction: column;
    padding: 23px 23px;
    border-radius: 4px;
    box-shadow: #272727 0px 0px 21px 0px;
}

.form-inputs {
    width: 100%;
    height: 177px;
    display: flex;
    flex-direction: column;
    margin: 11px 0 0 0;
}


.form-heading {
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: sans-serif;
}

.form-label {
    font-size: 21px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 13px 0 3px 0;
}

.form-input-btn {
    width: 80%;
    height: 26px;
    padding: 6px 14px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 15px;

}

.form-radio {
    display: flex;
    width: 50%;
    justify-content: space-around;
    height: 34px;
    font-size: 17px;
    font-weight: bold;
    margin: 5px 0;
}

.form-radio-span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-radio-input {
    margin: 0 6px 0 0;
}

.income-bg-color{
    background: #c0f8d3;
}

.expense-bg-color{
    background: #ffa4a4;
}

.balance-color{
    color: blue;
}

.income-color{
    color: green;
    background: #c0f8d3;
}

.expense-color{
    color: red;
}



.add-btn {
    width: 100%;
    height: 34px;
    border: none;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    font-size: 17px;
    background-color: #5f5fff;
    cursor: pointer;

}



.cancle-btn {
    position: relative;
    top: -3%;
    left: 96%;
    cursor: pointer;
}


@media only screen and (max-width: 665px) {
    .expenseView-component {
        flex-wrap: wrap;
        height: min-content;

    }

    .expenseView {
        width: 90%;
    }

    .media-screen {
        font-size: 20px;
    }

    .tag {
        font-size: 15px;
    }

    .form-container {
        width: 70%;
        height: 283px;
        top: 90px;
        right: 8%;
    }

    .form-heading {
        font-size: 19px;
    }

    .form-inputs {
        width: 100%;
        height: 145px;
    }

    .form-label {
        font-size: 14px;
    }

    .form-input-btn {
        height: 26px;
        font-size: 15px;
    }

    .form-radio {
        width: 94%;
        height: 34px;
        margin: 15px 0;
    }

    .add-btn {
        width: 100%;
        height: 50px;
        background-color: #5f5fff;
        font-size: 17px;
    }

    .income, .expense{
        height: 85px;
    }



}