.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 100%;
  }
  
  .navbar{
    background: #262626;
    color: white;
    width: 100%;
    height: 57px;
    display: flex;
    justify-content: center;
  }

  .navbar-brand{
    font-size: 25px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
  }

  .navbar-btn{
    width: 225px;
    height: 37px;
    color: white;
    background: #5252ff;
    border: none;
    border-radius: 3px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  .navbar-btn:hover{
    background-color: white;
    color: black;
    
  }